[submodule "API_authentification"]
	path = API_authentification
	url = https://github.com/Maxe2005/API_authentification.git
[submodule "API_joueur"]
	path = API_joueur
	url = https://github.com/Maxe2005/API_joueur.git
[submodule "API_monstres"]
	path = API_monstres
	url = https://github.com/Maxe2005/API_monstres.git
[submodule "API_combat"]
	path = API_combat
	url = https://github.com/Maxe2005/API_combat.git
[submodule "API_invocations"]
	path = API_invocations
	url = https://github.com/Maxe2005/API_invocations.git
